
@{
    ViewBag.Title = "IndexGV";
    Layout = "~/Areas/GiaoVjen/Views/Shared/_LayoutGV.cshtml";
}

<section id="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="owl-demo" class="owl-carousel owl-theme">
                    <div class="item"><a href="http://35nam.hufi.edu.vn/"><img src="/TemplatesGV/slideshow/35-year-hufi-website-slide-show-1_11032017015510310_jvsoon5t.tsa.png" /></a></div>
                    <div class="item"><a href="truong-dh-cong-nghiep-thuc-pham-tp-hcm-dat-tieu-chuan-chat-luong-giao-duc-dai-hoc.html"><img src="/TemplatesGV/slideshow/cong-nhan-dat-chuan-hufi-website-slide-show_22052017092414268_gv33ecjl.vyh.jpg" alt="C&#244;ng nhận đạt ti&#234;u chuẩn" title="C&#244;ng nhận đạt ti&#234;u chuẩn" /></a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="new">
    <div class="container">
        <div class="row">

            <div class="col-sm-8 col-md-8">
                <div class="row">


                    <div class="col-sm-12 col-md-12">
                        <h3 class="title-new">
                            <span>TIN TỨC</span>
                        </h3>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="new-first">
                            <p id="img-first">
                                <img class="img-responsive" src="/TemplatesGV/media/fLgdcj9tiekGKJwv2U3RN_N-kpYLIan1iF-cLrl8PWREmWtrYm8TT3IUrN03ljtc.jpg" />
                            </p>
                            <h3 class="canle"><a href="truong-dai-hoc-cong-nghiep-thuc-pham-tp-ho-chi-minh-to-chuc-le-trao-bang-tot-nghiep-cho-3613-tan-cu-nhan-ky-su-tot-nghiep-nam-2018.html">Trường Đại học C&#244;ng nghiệp Thực phẩm TP. Hồ Ch&#237; Minh tổ chức Lễ trao bằng tốt nghiệp cho 3.613 t&#226;n cử nh&#226;n, kỹ sư tốt nghiệp năm 2018</a></h3>
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="new-right">
                            <ul>
                                <li>
                                    <div class="rthumbc">
                                        <a class="recent-thumb show-with" href="#" style="background: url(/TemplatesGV/media/Zbv67hxMr8dsBqBQGISLRD8OW3bqQVTbWb_AcYNam84zyJ14GkNDchh0hJD7vG3m.jpg) no-repeat center center; background-size: cover">
                                        </a>
                                    </div>
                                    <div class="recent-content">
                                        <h3 class="recent-title">
                                            <a href="ket-qua-ky-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018.html">Kết quả kỳ thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a>
                                        </h3>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>16/10/2018</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="rthumbc">
                                        <a class="recent-thumb show-with" href="#" style="background: url(/TemplatesGV/media/Zbv67hxMr8dsBqBQGISLRD8OW3bqQVTbWb_AcYNam84zyJ14GkNDchh0hJD7vG3m.jpg) no-repeat center center; background-size: cover">
                                        </a>
                                    </div>
                                    <div class="recent-content">
                                        <h3 class="recent-title">
                                            <a href="danh-sach-thi-sinh-du-thi-thac-si-dot-1-nam-2018.html">Danh s&#225;ch th&#237; sinh dự thi thạc sĩ đợt 1 năm 2018.</a>
                                        </h3>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>02/10/2018</span>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="rthumbc">
                                        <a class="recent-thumb show-with" href="#" style="background: url(/TemplatesGV/media/Ttg6meEqWIymWqa7pO836HiS91fj6YNuP3ZoY21g1tQUQ6YwxkPFybxBswcfdd_r.jpg) no-repeat center center; background-size: cover">
                                        </a>
                                    </div>
                                    <div class="recent-content">
                                        <h3 class="recent-title">
                                            <a href="truong-dai-hoc-cong-nghiep-thuc-pham-tp-ho-chi-minh-long-trong-to-chuc-le-khai-giang-nam-hoc-2018-2019.html">Trường Đại học C&#244;ng nghiệp Thực phẩm TP. Hồ Ch&#237; Minh long trọng tổ chức Lễ khai giảng năm học 2018 - 2019</a>
                                        </h3>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>27/09/2018</span>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="clear">
                        <div class="col-sm-12 col-md-6">
                            <h3 class="title-new">
                                <span><a href="tuyen-sinh.html">Lịch giảng dạy</a></span>
                            </h3>

                            <div class="fbig-widget-area">
                                <div class="items-inner">
                                    <div class="thumb-outer">
                                        <div class="thumb-area">
                                            <a style="background: url(/TemplatesGV/media/V6ZHfrn-n4CiidnBmuaT9K3oVSgcOwdj4ejCNxsrynOzy3jAT5TsZF8duMZGoGhM.jpg) no-repeat center center; background-size: cover"></a>
                                        </div>
                                    </div>
                                    <div class="content-area">
                                        <h3>
                                            <a href="ket-qua-cham-phuc-khao-bai-thi-ky-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018-185.html">
                                                Kết quả chấm ph&#250;c khảo b&#224;i thi, kỳ thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018
                                            </a>
                                        </h3>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>30/10/2018</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fbig-widget-area">
                                <ul>
                                    <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <a href="ket-qua-cham-phuc-khao-bai-thi-ky-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018.html">Kết quả chấm ph&#250;c khảo b&#224;i thi, kỳ thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a></li>
                                    <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <a href="thong-bao-phuc-khao-bai-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018.html">Th&#244;ng b&#225;o ph&#250;c khảo b&#224;i thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a></li>
                                    <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <a href="ket-qua-ky-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018.html">Kết quả kỳ thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a></li>
                                </ul>
                            </div>

                            <a href="tuyen-sinh.html" style="float: right; margin-top: 5px;">
                                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                <span style="margin-left: 1px;">Xem thêm</span>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <h3 class="title-new">
                                <span><a href="hop-tac-quoc-te.html">Công tác</a></span>
                            </h3>

                            <div class="fbig-widget-area">
                                <div class="items-inner">
                                    <div class="thumb-outer">
                                        <div class="thumb-area">
                                            <a style="background: url(/TemplatesGV/media/xJrQaRYoeW8yxRn4KNzEp00Nb1ATZyBMfk2RlayuRN2C2XZWLhyvb5Sr9nKf5wgL.jpg) no-repeat center center; background-size: cover"></a>
                                        </div>
                                    </div>
                                    <div class="content-area">
                                        <h3>
                                            <a href="hufi-phoi-hop-voi-meiho-gioi-thieu-hinh-thuc-hoc-tap-va-trien-khai-giang-day-e-learning-cho-sinh-vien-cac-chuong-trinh-co-yeu-to-nuoc-ngoai-tai-truong.html">
                                                HUFI phối hợp với Meiho giới thiệu h&#236;nh thức học tập v&#224; triển khai giảng dạy e-learning cho sinh 
                                            </a>
                                        </h3>
                                        <p>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i> <span>29/10/2018</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="fbig-widget-area">
                                <ul>
                                    <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <a href="le-ky-ket-thoa-thuan-hop-tac-giua-truong-dai-hoc-cong-nghiep-thuc-pham-tp-hcm-hufi-va-truong-dai-hoc-minho-bo-dao-nha.html">Lễ k&#253; kết thỏa thuận hợp t&#225;c giữa Trường Đại học C&#244;ng nghiệp Thực phẩm TP HCM (HUFI) v&#224; </a></li>
                                    <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <a href="le-tien-cac-sinh-vien-chuong-trinh-lien-ket-quoc-te-2-2-khoa-2016-2020-sang-dai-loan-sinh-song-va-hoc-tap-giai-doan-2.html">Lễ tiễn c&#225;c sinh vi&#234;n chương tr&#236;nh li&#234;n kết quốc tế 2+2 kh&#243;a 2016-2020 sang Đ&#224;i Loan sinh sống v&#224; </a></li>
                                    <li><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> <a href="hoi-thao-thong-tin-hoc-bong-du-hoc-dai-loan.html">Hội thảo &quot; Th&#244;ng tin Học bổng Du học Đ&#224;i Loan&quot; thêm một hàng nữa nè</a></li>
                                </ul>
                            </div>

                            <a href="hop-tac-quoc-te.html" style="float: right; margin-top: 5px;">
                                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                <span style="margin-left: 1px;">Xem thêm</span>
                            </a>
                        </div>
                       
                    </div>

                  




                </div>
            </div>
            <div class="col-sm-4 col-md-4">

                <div class="right-box" id="sukien">
                    <h3 class="title-new">
                        <span><a href="tin-tuc-su-kien.html">SỰ KIỆN</a></span>
                    </h3>
                    <div class="sukien">
                        <ul class="col-event">
                            <li>
                                <p class="date-time">
                                    <span class="day">19/10</span>
                                    <span class="month">2018</span>
                                </p>
                                <p class="event">
                                    <a href="truong-dai-hoc-cong-nghiep-thuc-pham-tp-ho-chi-minh-to-chuc-le-trao-bang-tot-nghiep-cho-3613-tan-cu-nhan-ky-su-tot-nghiep-nam-2018.html">
                                        Trường Đại học C&#244;ng nghiệp Thực phẩm TP. Hồ Ch&#237; Minh tổ chức Lễ trao bằng tốt nghiệp cho 3.613 t&#226;n cử nh&#226;n, kỹ sư tốt nghiệp năm 2018
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="date-time">
                                    <span class="day">27/09</span>
                                    <span class="month">2018</span>
                                </p>
                                <p class="event">
                                    <a href="truong-dai-hoc-cong-nghiep-thuc-pham-tp-ho-chi-minh-long-trong-to-chuc-le-khai-giang-nam-hoc-2018-2019.html">
                                        Trường Đại học C&#244;ng nghiệp Thực phẩm TP. Hồ Ch&#237; Minh long trọng tổ chức Lễ khai giảng năm học 2018 - 2019
                                    </a>
                                </p>
                            </li>
                            <li>
                                <p class="date-time">
                                    <span class="day">27/09</span>
                                    <span class="month">2018</span>
                                </p>
                                <p class="event">
                                    <a href="truong-dai-hoc-cong-nghiep-thuc-pham-tp-ho-chi-minh-ho-tro-tp-tay-ninh-to-chuc-hoi-thao-giai-phap-day-nhanh-su-phat-trien-thanh-pho-tay-ninh-theo-dinh-huong-cua-do-thi-loai-ii.html">
                                        Trường Đại học C&#244;ng nghi&#234;̣p Thực ph&#226;̉m TP. H&#244;̀ Chí Minh h&#244;̃ trợ TP. T&#226;y Ninh t&#244;̉ chức h&#244;̣i thảo “Giải pháp đ&#226;̉y nhanh sự phát tri&#234;̉n ”
                                    </a>
                                </p>
                            </li>
                           
                        </ul>

                    </div>
                    <a href="tin-tuc-su-kien.html" style="float: right; margin-top: 5px;">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span style="margin-left: 1px;">Xem thêm</span>
                    </a>
                </div>
                <div class="right-box" style="top: 20px">
                    <h3 class="title-new">
                        <span><a href="index.html">Th&#244;ng b&#225;o</a></span>
                    </h3>
                    <div class="thongbao">

                        <ul>
                            <li>
                                <a href="ket-qua-cham-phuc-khao-bai-thi-ky-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018-185.html">Kết quả chấm ph&#250;c khảo b&#224;i thi, kỳ thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a><p>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> <span>30/10/2018</span>
                                </p>
                            </li>
                            <li>
                                <a href="ket-qua-cham-phuc-khao-bai-thi-ky-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018.html">Kết quả chấm ph&#250;c khảo b&#224;i thi, kỳ thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a><p>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> <span>30/10/2018</span>
                                </p>
                            </li>
                            <li>
                                <a href="thong-bao-phuc-khao-bai-thi-tuyen-sinh-trinh-do-thac-si-dot-1-nam-2018.html">Th&#244;ng b&#225;o ph&#250;c khảo b&#224;i thi tuyển sinh tr&#236;nh độ thạc sĩ đợt 1 năm 2018</a><p>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> <span>16/10/2018</span>
                                </p>
                            </li>
                           
                        </ul>


                    </div>
                    <a href="index.html" style="float: right; margin-top: -5px;">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>Xem thêm
                    </a>
                </div>

              


            </div>
        </div>
    </div>
</section>


