
@{
    ViewBag.Title = "TBTT_DoanHoi1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Templates/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        <a @Html.ActionLink("Trang chủ", "Index", "Home")</a>
                    </li>
                    <li>@Html.ActionLink("Đoàn hội", "TBTT_DoanHoi", "MenuTB_TT")</li>
                    <li>Đoàn hội 1</li>
                </ul>
            </div>
            <div class="col-md-9" style="margin-right:400px ; margin-left: 0px">
                <div id="text-page" class="box" style="margin-right:-200px">
                    <h1 style="font-size:22px">Tên tiêu đề</h1>
                    <p>Nội dung tiêu đề</p>
                    <hr />
                    <p>Post by: Khoa CNTT, Ngày: </p>
                    <p>Đính kèm</p>

                </div>
            </div>

        </div>  @*#content*@


