
@{
    Layout = null;
}

<!doctype html>
<html>

<!-- Mirrored from hufi.edu.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Nov 2018 01:43:26 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Khoa Công Nghệ Thông Tin - Trường Đại học Sài Gòn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Templates/images/iconsgu.png" rel="shortcut icon" type="image/x-icon">

    <link href="/TemplatesGV/University/21_HUFI/css/bootstrap.css" rel="stylesheet" />
    <link href="/TemplatesGV/University/21_HUFI/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/TemplatesGV/University/21_HUFI/css/style.css" rel="stylesheet" />
    <link href="/TemplatesGV/University/21_HUFI/css/menu.css" rel="stylesheet" />
    <link href="/TemplatesGV/University/21_HUFI/content/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="/TemplatesGV/University/21_HUFI/content/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="/TemplatesGV/University/21_HUFI/css/magnific-popup.css" rel="stylesheet" />
    <script src="/TemplatesGV/University/21_HUFI/js/jquery.min.js"></script>
    <script src="/TemplatesGV/University/21_HUFI/content/owl-carousel/owl.carousel.min.js"></script>
    <script src="/TemplatesGV/University/21_HUFI/js/menu.js"></script>
    <script src="/TemplatesGV/University/21_HUFI/js/slideshow.js"></script>
    <script src="/TemplatesGV/University/21_HUFI/js/jquery.magnific-popup.min.js"></script>
    <script src="/TemplatesGV/University/21_HUFI/js/home.js"></script>
    <script src="/TemplatesGV/Module/js/common/aes.js"></script>
    <script src="/TemplatesGV/Module/js/common/pbkdf2.js"></script>

    <script type="text/javascript">
        var BASE_URL_WEB = 'index.html';
    </script>
</head>
<body>

    <div class="site-container">
        <div class="site-pusher">

            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-md-9">
                            <img class="img-responsive" id="img-logo" src="/TemplatesGV/images/logosgu.png" />
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3" id="account">
                            
                            
                            <form action="http://hufi.edu.vn/search.html" method="post" class="form-search">
                                <p class="input-group">
                                    <input type="hidden" name="viewNameSearch" value="SearchForWeb_HUFI" />
                                    <input type="text" class="form-control" name="query" required="" placeholder="Tìm kiếm...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </p><!-- /input-group -->
                            </form>
                        </div>
                    </div>
                </div>
            </header>


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <section id="menu">
                            <div class="container">
                                <div class="row">
                                    <div class="header">
                                        <a href="index.html" id="header__home"><i class="fa fa-angle-left" aria-hidden="true"></i><span>Trang chủ</span></a>
                                        <a href="#" class="header__icon" id="header__icon"><span>Menu</span></a>
                                        <nav id="moitmenu" class="menu">
                                            <ul>
                                                <li id="homeitem" class="active"><a href="index.html" class="home icon-home"></a></li>
                                                <li>
                                                    <a href="index.html">Giới thiệu</a>
                                                    <i class="fa fa-angle-right fa-menu"></i>
                                                    <ul>
                                                        <li>
                                                            <a href="Error0b03.html">Thông tin chung</a>
                                                            <i class="fa fa-angle-right fa-menu"></i>
                                                            <ul>
                                                                <li>
                                                                    <a href="index.html">Giới thiệu chung</a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">Cơ sở vật chất</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="Error0b03.html">Cơ cấu tổ chức</a>
                                                            <i class="fa fa-angle-right fa-menu"></i>
                                                            <ul>
                                                                <li>
                                                                    <a href="index.html">Chi bộ</a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">Ban chủ nhiệm khoa</a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">Hội đồng khoa học</a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">Công đoàn</a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">Văn phòng khoa</a>
                                                                </li>
                                                                <li>
                                                                    <a href="index.html">Công viên chức khoa</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                
                                                <li>
                                                    <a href="chon-danh-muc-de-xem.html">Đào tạo</a>
                                                    <i class="fa fa-angle-right fa-menu"></i>
                                                    <ul>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Trình độ thạc sĩ</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Trình độ tiến sĩ</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="http://tuyensinh.hufi.edu.vn/">Bộ môn</a>
                                                    <i class="fa fa-angle-right fa-menu"></i>
                                                    <ul>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Hệ thống thông tin</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Kỹ thuật phần mềm</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Khoa học máy tính</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Mạng và hệ thống thông tin</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="http://egov.hufi.edu.vn/">Công tác giáo viên</a>
                                                    <i class="fa fa-angle-right fa-menu"></i>
                                                    <ul>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Lịch họp</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Lịch trực tuần</a>
                                                        </li>
                                                        
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="http://sinhvien.hufi.edu.vn/">Nghiên cứu khoa học</a>
                                                    <i class="fa fa-angle-right fa-menu"></i>
                                                    <ul>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Sự kiện khoa học</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Bài báo công bố</a>
                                                        </li>

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="index.html">Biểu mẫu Thủ tục</a>
                                                    <i class="fa fa-angle-right fa-menu"></i>
                                                    <ul>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Biểu mẫu</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Quy định</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Quy trình</a>
                                                        </li>
                                                        <li>
                                                            <a href="cac-trinh-do-dao-tao-cua-truong.html">Danh sách khóa luận tốt nghiệp</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <form action="http://hufi.edu.vn/Home/Search" method="get" id="mobile-search">
                                                <p class="input-group">
                                                    <input type="text" class="form-control" name="s" required="" placeholder="Tìm kiếm...">
                                                    <span class="input-group-btn">
                                                        <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                    </span>
                                                </p><!-- /input-group -->
                                            </form>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            @RenderBody()

           


            <section id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-5" id="contact-f">
                            <h4>LIÊN HỆ VỚI CHÚNG TÔI</h4>
                            <p><i class="ffa fa-address" aria-hidden="true"></i> <span>273 An Dương Vương, P3, Q5, TP. Hồ Chí Minh</span></p>
                            <p><i class="ffa fa-phones" aria-hidden="true"></i> <span>Điện thoại: 0996070558</span></p>
                            <p><i class="ffa fa-email" aria-hidden="true"></i> <span>Email: itsgu@gmail.com</span></p>
                            <p><i class="ffa fa-website" aria-hidden="true"></i> <span>Website SGU: <a href="index.html">https://sgu.edu.vn/</a></span></p>
                        </div>
                        <div class="col-sm-4 col-md-4" id="follow">
                            <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/fit.sgu.edu.vn/">
                                        <img src="/TemplatesGV/University/21_HUFI/images/follow/FACEBOOK.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/"><img src="/TemplatesGV/University/21_HUFI/images/follow/GOOGLE-PLUS.png" /></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <img src="/TemplatesGV/University/21_HUFI/images/follow/IN.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/">
                                        <img src="/TemplatesGV/University/21_HUFI/images/follow/TWITER.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <h4>THỐNG KÊ TRUY CẬP</h4>
                            <div class="list-group">
                                <a href="#" class="list-group-item"><span class="badge bg-online">309</span><i class="fa fa-user online" aria-hidden="true"></i> Đang online :</a>
                                <a href="#" class="list-group-item"><span class="badge bg-hom-nay">914</span><i class="fa fa-user hom-nay" aria-hidden="true"></i> Hôm nay: </a>
                                <a href="#" class="list-group-item"><span class="badge bg-hom-qua">3.819</span><i class="fa fa-user hom-qua" aria-hidden="true"></i> Hôm qua : </a>
                                <a href="#" class="list-group-item"><span class="badge bg-tong-cong">2.118.719</span><i class="fa fa-bar-chart tong-cong" aria-hidden="true"></i> Tổng cộng : </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-f"><p>Khoa công nghệ thông tin - Trường đại học Sài Gòn </p></div>
                        </div>
                    </div>
                </div>
            </footer>
            <div id="small-dialog" class="zoom-anim-dialog mfp-hide loginmodal-container">
                <h3>Đăng nhập</h3>
                <form id="signin" method="post">
                    <div class="input-group">
                        <span class="input-group-addon"><i style="font-size:15px;" class="fa fa-user" aria-hidden="true"></i></span>
                        <input id="username" class="form-control" name="email" value="" placeholder="Tên đăng nhập" required>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon"><i style="font-size:16px;" class="fa fa-lock" aria-hidden="true"></i></span>
                        <input id="password" type="password" class="form-control" name="password" value="" placeholder="Mật khẩu" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    <p class="message">Sai thông tin đăng nhập</p>
                </form>
            </div>
        </div>
    </div>



</body>

<!-- Mirrored from hufi.edu.vn/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 06 Nov 2018 02:03:06 GMT -->
</html>
