.container
{
}
.site-content
{
	padding-top: 66px;
}
.header
{
	color: #fff;
	height: 40px;
}
.header__logo
{
	float: left;
	font-weight: 700;
	padding: 9px 25px;
}
.menu
{
	float: left;
}
.menu a
{
	padding: 12px 15px;
}
.menu a.home
{
	padding: 12px 25px;
}
.menu ul
{
	font-size: 0;
	margin: 0;
	padding: 0;
	padding-left: 5px;
}
.menu > ul > li:hover
{
	background-color: rgb(255, 3, 55);
}
.menu > ul > li > ul > li > ul
{
	padding-left: 0 !important;
}
.menu > ul > li > ul > li > ul > li > a
{
	padding: 0;
}
.menu > ul > li > ul > li > ul
{
	background: #167AC6 !important;
}
.menu > ul > li > ul > li > ul > li:hover
{
	background: #ff0337;
}
.icon-home
{
	background: url('../images/icon/icon-home.png') no-repeat center center;
	height: 30px;
	width: 30px;
}
.fa-menu
{
	padding-right: 10px;
}
.menu ul li.active
{
	background: rgb(255, 3, 55);
}
.menu ul li i
{
	font-size: 15px;
}
@media only screen and (min-width: 1024px)
{
	
	.menu > ul > li > ul > li > ul
	{
		padding-left: 30px;
	}
    .menu>ul >li{
        background: url('../images/icon/line.png') no-repeat center right;
    }
    
	.menu ul li
	{
		display: inline-block;
		list-style: none;
		padding: 10px 0px;
		position: relative;
	}
	nav > ul > li ul li a
	{
		float: left;
	}
	.menu ul > li > ul li
	{
        border-bottom: 1px solid #ccc;
		padding: 10px;
		width: 100%;
	}
    .menu ul > li > ul li:last-child{
        border-bottom:none;
    }
	#menu > div > div > div > nav > ul > li > ul > li > a
	{
		padding: 0;
	}
	#menu > div > div > div > nav > ul > li > ul > li > a:hover
	{
		background: none;
	}
	#menu > div > div > div > nav > ul > li > ul > li:hover
	{
		background: #ff0337;
	}
	#menu > div > div > div > nav > ul > li > ul > li > i
	{
		float: right;
		position: relative;
		top: 3px;
	}
	.menu li > ul
	{
		background: #167AC6;
		display: none;
		left: 0;
		min-width: 220px;
		padding: 0;
		position: absolute;
		top: 30px;
		visibility: hidden;
		z-index: 1;
	}
	.menu > ul > li:hover > ul
	{
		display: block;
		font-size: 0;
		top: 40px;
		visibility: visible;
	}
	.menu > ul > li > ul > li > ul
	{
		background: orange;
		display: none;
		left: 221px;
		min-width: 235px;
		position: absolute;
		top: -30px;
		visibility: hidden;
		z-index: 1;
	}
	.menu ul > li > ul > li:hover > ul
	{
		display: block;
		top: 0;
		visibility: visible;
	}
	.menu > ul > li > ul > li > ul > li > ul
	{
		background: red;
		display: none;
		left: 200px;
		min-width: 200px;
		position: absolute;
		top: -30px;
		visibility: hidden;
		z-index: 1;
	}
	.menu > ul > li > ul > li > ul > li:hover > ul
	{
		display: block;
		top: 0;
		visibility: visible;
	}
}

@media only screen and (max-width: 1024px){
    .menu a
	{
		padding: 12px 8px;
	}
}
@media only screen and (max-width: 768px)
{
    #header__home span{
            position: relative;
    top: -4px;
    left: 10px;
    text-transform: uppercase;
    font-weight: BOLD;
    font-size: 15px;
    }
    #header__icon{
        text-decoration:none;
    }
    #header__icon span{
            position: relative;
    top: 11px;
    right: 45px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 15px;    
    }
	.site-pusher,
	 .site-container
	{
		height: 100%;
	}
	.site-container
	{
		overflow: hidden;
	}
	.site-pusher
	{
		transform: translateX(0px);
		transition-duration: 0.3s;
		webkit-transform: translateX(0px);
		webkit-transition-duration: 0.3s;
	}
	.site-content
	{
		bottom: 0;
		left: 0;
		overflow-y: scroll;
		padding-top: 0;
		position: absolute;
		right: 0;
		top: 66px;
		webkit-overflow-scrolling: touch;
	}
	.header
	{
		position: static;
	}
	.header__icon
	{
		cursor: pointer;
		display: block;
		float: right;
		height: 40px;
		position: relative;
		width: 50px;
	}
	.header__icon:before
	{
		box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
		content: '';
		display: block;
		height: 0;
		left: 15px;
		position: absolute;
		top: 5px;
		width: 2rem;
	}
	.header__icon:after
	{
		box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
		content: '';
		display: block;
		height: 0;
		left: 15px;
		position: absolute;
		top: 5px;
		width: 2rem;
	}
	.menu
	{
		background-color: #167AC6;
		bottom: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateX(250px);
		webkit-transform: translateX(250px);
		width: 250px;
	}
	.menu ul
	{
		padding-left: 0;
	}
	.menu > ul > li > ul > li > ul > li > a
	{
		padding: 10px 0 10px 40px;
	}
	.menu > ul > li > ul > li > ul > li
	{
		background: #167AC6;
	}
	.menu > ul > li > ul > li > ul > li:hover
	{
		background: #ff0337;
	}
	.menu li > ul > li > a, .menu li > ul > li > ul > li > a, .menu li > ul > li > ul > li > ul > li > a
	{
		padding-left: 20px;
	}
	.menu li > ul > li > ul > li > a
	{
		padding-left: 30px;
	}
	.menu li > ul > li > ul > li > ul > li > a
	{
		padding-left: 40px;
	}
	.menu ul li i
	{
		cursor: pointer;
		font-size: 15px;
		height: 40px;
		line-height: 40px;
		position: absolute;
		right: 0px;
		text-align: center;
		top: 0;
		width: 30px;
	}
	.menu ul li i.fa-home
	{
		height: auto;
		line-height: 30px;
		width: auto;
	}
	.menu ul li
	{
        background: #167ac6;
		border-bottom: 1px solid #fff;
		display: block;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.menu>ul>li>ul>li
	{
		background: #167AC6;
	}
	.menu>ul>li>ul>li:hover
	{
		background: #ff0337;
	}
	.menu > ul > li:first-child
	{
		line-height: 10px;
		padding: 5px;
		padding-left: 20px;
	}
	.icon-home
	{
		background: url('../images/icon/icon-home.png') no-repeat left center;
	}
	.menu ul > li > ul
	{
		display: none;
	}
	.menu a
	{
		display: inline-block;
		line-height: 20px;
		padding: 10px 20px;
		text-align: left;
		width: 100%;
	}
	.menu a.home
	{
		margin-left: 0;
		padding: 0 10px 10px 20px;
	}
	nav > ul > li > ul > li > a:before, nav > ul > li > ul > li > ul > li > a:before, nav > ul > li > ul > li > ul > li > ul > li > a:before
	{
		content: "\f148";
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		margin-right: 10px;
		moz-osx-font-smoothing: grayscale;
		ms-transform: rotate(90deg);
		text-rendering: auto;
		transform: rotate(90deg);
		webkit-font-smoothing: antialiased;
		webkit-transform: rotate(90deg);
	}
	nav > ul > li > ul > li:last-child, nav > ul > li > ul > li > ul > li:last-child, nav > ul > li > ul > li > ul > li > ul > li:last-child
	{
		border-bottom: none;
		padding-bottom: 0;
	}
	.with--sidebar .site-pusher
	{
		transform: translateX(-250px);
		webkit-transform: translateX(-250px);
	}
	.with--sidebar .site-cache
	{
		background-color: rgba(0, 0, 0, 0.6);
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}
@media screen and (max-width:767px)
{
	#mobile-search .input-group
	{
		display: table;
	}
	#search-desktop
	{
		display: none;
	}
}